{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    {% if listType == "WatchList" %}
        <h2>Watchlist</h2>
    {% elif listType == "MyListings" %}
        <h2>My Listings</h2>
    {% endif %}

    <h3>Active:</h3>

    {% for lst in actListings %}

        <a href="/review/{{ lst.pk }}">

            <div class="indLstDiv mycol-12">

                <div class="indLstImg mycol-2 mycol-s-4">

                    {% if not lst.image == Null %}
                        <img style="width: 100%; height:100%;" src="{{ lst.image }}">
                    {% else %}
                        <img style="width: 100%; height:100%;" src="{% static 'auctions/defaultimage.png' %}">
                    {% endif %}

                </div>

                <div id="indMainInf" class="mycol-4 mycol-s-8">

                    <div class="indLstTitDiv">
                        {% if lst.name|length > lTitMax %}
                            <h3>{{ lst.name|truncatechars:lTitMax }}</h3>
                        {% else %}
                            <h3>{{ lst.name }}</h3>
                        {% endif %}
                    </div>

                    <div class="indLstPriceDiv">
                        <h4>${{ lst.curprice }}</h4>
                    </div>

                    <div class="indLstCrDTDiv">
                        <p>Created: {{ lst.createdatettime }}</p>
                    </div>

                    {% if not lst.category == Null %}
                        <div class="indLstCatDiv">
                            <p>Category: {{ lst.category }}</p>
                        </div>
                    {% else %}
                        <div class="indLstCatDiv">
                            <p>Category: Not selected</p>
                        </div>
                    {% endif %}
                </div>
                <div id="indLstDesc" class="mycol-6 mycol-s-12">
                    {% if lst.description|length > lDescMax %}
                    <p>{{ lst.description|truncatechars:lDescMax }}</p>
                    {% else %}
                    <p>{{ lst.description }}</p>
                    {% endif %}
                </div>
            </div>

        </a>

    {% empty %}

        <h5>No listings here ...</h5>
    
    {% endfor %}

    <h3>Closed:</h3>

    {% for lst in closedListings %}

        <a href="/review/{{ lst.pk }}">

            <div class="indLstDiv mycol-12">

                <div class="indLstImg mycol-2 mycol-s-4">

                    {% if not lst.image == Null %}
                        <img style="width: 100%; height:100%;" src="{{ lst.image }}">
                    {% else %}
                        <img style="width: 100%; height:100%;" src="{% static 'auctions/defaultimage.png' %}">
                    {% endif %}

                </div>

                <div id="indMainInf" class="mycol-4 mycol-s-8">

                    <div class="indLstTitDiv">
                        {% if lst.name|length > lTitMax %}
                            <h3>{{ lst.name|truncatechars:lTitMax }}</h3>
                        {% else %}
                            <h3>{{ lst.name }}</h3>
                        {% endif %}
                    </div>

                    <div class="indLstPriceDiv">
                        <h4>${{ lst.curprice }}</h4>
                    </div>

                    <div class="indLstCrDTDiv">
                        <p>Created: {{ lst.createdatettime }}</p>
                    </div>

                    {% if not lst.category == Null %}
                        <div class="indLstCatDiv">
                            <p>Category: {{ lst.category }}</p>
                        </div>
                    {% else %}
                        <div class="indLstCatDiv">
                            <p>Category: Not selected</p>
                        </div>
                    {% endif %}
                </div>
                <div id="indLstDesc" class="mycol-6 mycol-s-12">
                    {% if lst.description|length > lDescMax %}
                    <p>{{ lst.description|truncatechars:lDescMax }}</p>
                    {% else %}
                    <p>{{ lst.description }}</p>
                    {% endif %}
                </div>
            </div>

        </a>

    {% empty %}

        <h5>No listings here ...</h5>
    
    {% endfor %}

{% endblock %}